.section_img {
    background-image: url('../../../public/images/header-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}

.section_inner {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 52px;
    padding-bottom: 77px;
}

.header_partner_text {
    margin-top: 90px;
}

.header_title {
    font-family: 'BebasNeue Regular';
    font-size: 60px;
    letter-spacing: 10.709px;
    color: #fff;
    text-align: center;
}

.header_text {
    font-family: "OpenSans SemiBold";
    font-size: 16px;
    text-align: center;
    color: #fff;
}

.header_text_down {
    font-family: "OpenSans SemiBold";
    font-size: 11px;
    letter-spacing: 3.7px;
    color: #fff;
}

.section_nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 940px;
    margin: 25px auto;
}

.nav_list {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

@media (max-width: 940px) {

    .section_nav {
        margin: 5px;
    }
}

@media (max-width: 600px) {
    .header_title {
        font-size: 34px;
    }

    .header_text {
        font-size: 13px;
    }
}

@media (max-width: 530px) {
    .nav_list {
        gap: 7px;
    } 
}